 <%= javascript_pack_tag 'categories' %>

<div class="winnow-container">
  <div class="card winnow-content">
  <div class="card-header">
    Categorize Claims
  </div>
  <div class="card-body">
    <div class="diminutive-title">Claim:</div>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <hr>
    <div class="row">
      <div class="col-sm">
        <div class="row">
          <div class="col-sm-4 diminutive-title">Speaker:</div>
          <div class="col-sm-8 additional-info">Donald Trump - President of the United States</div>
        </div>
      </div>
      <div class="col-sm">
        <div class="row">
          <div class="col-sm-3 diminutive-title">Date:</div>
          <div class="col-sm-9 additional-info">2020-02-12</div>
        </div>
      </div>
      <div class="col-sm">
        <div class="row">
          <div class="col-sm-5 diminutive-title">Publication:</div>
          <div class="col-sm-7 additional-info">PolitiFact</div>
        </div>
      </div>
    </div>
    <hr>
    <div id="categories"></div>
    <hr>
    <button type="submit" class="btn btn-outline-info submit">Save</button>
  </div>
</div>
</div>
