<footer class="footer mt-auto py-3 bg-light" data-turbolinks-animate-persist="true">
  <div class="container d-flex justify-content-between">
    <span class="text-muted">A product of the <a href="https://www.reporterslab.org">Duke Reporters' Lab</a></span>
    <span class="text-muted">Created by <a href="https://www.twitter.com/cguess">@cguess</a> | <a href="https://www.github.com/techandcheck/caucus">Github</a></span>
  </div>
</footer>
