<nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between" data-turbolinks-animate-persist="true">
  <a class="navbar-brand" href="#"><i class="fas fa-sitemap"></i> Caucus</a>
  <div class="collapse navbar-collapse" id="navbarToggler" style="justify-content: right;">
    <% if user_signed_in? && current_user.has_role?(:admin) %>
    <div class="navbar-nav mr-4">
      <%= link_to "Admin", admin_categories_path, class: "nav-link" %>
    </div>
    <% end %>
    <div class="navbar-nav">
      <%= user_signed_in? ? link_to("Logout", destroy_user_session_path, method: :delete, class: "nav-link") : link_to("Login", new_user_session_path, class: "nav-link") %>
    </div>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
