<div class="home-logo">
  <div class="login-logo">
    <i class="fas fa-sitemap"></i>
  </div><br />
  <div>
    Caucus
  </div>
  <%= link_to "Get Started", winnow_index_path, class: "btn btn-info btn-lg", data: { turbolinks: "false" } %>
</div>
