/* Coolors Exported Palette - coolors.co/f06543-f9f2f2-b287a3-c0f8d1-f7d4bc */

/* RGB */
$theme-orange: rgba(240, 101, 67, 1);
$theme-white: rgba(249, 242, 242, 1);
$theme-purple: rgba(178, 135, 163, 1);
$theme-green: rgba(192, 248, 209, 1);
$theme-salmon: rgba(247, 212, 188, 1);
