// Place all the styles related to the winnow controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$shadow-color: rgba(0, 0, 0, .75);
$gray: #808080;

.winnow-container {
  display: flex;
  margin-bottom: 80px;

  .winnow-content {
    // box-shadow: 0 0 37px -14px $shadow-color;
    margin: auto;

    @include media-breakpoint-up(xs) {
      margin-top: 20px;
    }
    @include media-breakpoint-up(md) {
      margin-top: 40px;
      max-width: 55vh;
    }

    .submit {
      float: right;
      min-width: 150px;
    }
  }
}

.diminutive-title {
  color: $gray;
  font-size: .8em;
  font-style: italic;
}

.additional-info {
  font-size: .9em;
}

.category-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  line-height: 2.2;
  margin: auto;
  margin-top: 10px;
  min-height: 31px;
  width: 100%;

  button {
    margin: 10px;
    min-width: 100px;
  }
}

.filter {
  display: flex;
  margin-top: 10px;

  button {
    margin-left: 5px;
  }
}
