// Place all the styles related to the winnow controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$shadow-color: rgba(0, 0, 0, .75);
$gray: #808080;

.winnow-container {
  display: flex;
  min-height: 100vh;
  min-width: 100vh;

  .winnow-content {
    box-shadow: 0 0 37px -14px $shadow-color;
    margin: auto;

    .submit {
      float: right;
    }
  }
}

.diminutive-title {
  color: $gray;
  font-size: .8em;
  font-style: italic;
}

.additional-info {
  font-size: .9em;
}

.category-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  line-height: 2.2;
  margin: auto;
  margin-top: 10px;
  width: 600px;

  button {
    margin-right: 10px;
  }
}
